body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.navbar.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

footer {
        margin-top: auto;
}}


h2 {
    color: #333;
}

p {
    color: #666;
}

.container-fluid {
    display: flex;
    justify-content: center; /* Centralizar o conteúdo na horizontal */
    align-items: center; /* Centralizar o conteúdo na vertical */
    min-height: 100vh; /* Garantir que a div ocupe pelo menos a altura total da tela */
}

/* Conteúdo principal da página */
#content {
    text-align: center;
    margin: 0 auto;
    max-width: 600px; /* Largura máxima desejada para centralizar o conteúdo */
    margin-bottom: 60px; /* Espaçamento entre o conteúdo e o rodapé */
}



footer {
    color: white;
}
